[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-login = "*"
dash = "*"
plotly = "*"
pandas = "*"
dash-bootstrap-components = "*"
pydantic-settings = "*"
playwright = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"
