[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dash = "*"
dash-bootstrap-components = "*"
xmltodict = "*"
pandas = "*"
plotly = "*"
weasyprint = "*"
kaleido = "*"
fastapi = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
flask-login = "*"
bcrypt = "==4.0.1"
passlib = "==1.7.4"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
mypy = "*"

[requires]
python_version = ">3.11"
